p:hover {
  color:aqua;
  font-weight:bold;
}

  
p::before {
  content: 'Hi!';
  color:pink;
  font-weight:bold;

}

p::after {
  content: 'Bye!';
  color:purple;
  font-weight:bold;
}

p::selection {
  color:blue;

}


.test {
  visibility: visible;
}

.testing {
  opacity: 0.25;
}

.test1 {
 display: block;
}
